<div>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="#message of messages">
            <td>{{message.id}}</td>
            <td>{{message.title}}</td>
            <td>
                <button class="btn btn-default pull-right" (click)="viewMessage(message)">Edit</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>